@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #00231C;
  font-family: Calibri, Arial, sans-serif;
}

h1 { font-family: Arial, sans-serif; font-weight: bold; font-size: 30px; color: #790D1D; }
h2 { font-family: Arial, sans-serif; font-weight: bold; font-size: 25px; color: #790D1D; }
h3 { font-family: Arial, sans-serif; font-weight: bold; font-size: 16px; color: #790D1D; }
p  { font-family: Calibri, sans-serif; font-size: 16px; color: #00231C; }
